@model DetailVM

<style>
	.selector-wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 10px;
		border-radius: 10px;
		padding: 10px;
		width: 200px;
	}

	.selector-title {
		font-weight: bold;
		font-size: 18px;
		color: #333;
	}

	.nice-select {
		appearance: none;
		border: none;
		background: #eee;
		padding: 5px 10px;
		font-size: 16px;
		color: #333;
		cursor: pointer;
	}

	.rounded-0 {
		border-radius: 0;
	}

	.border-bottom-0 {
		border-bottom: none;
	}

	.product-details-container {
		border: 1px solid #ccc;
		padding: 15px;
		border-radius: 5px;
		background-color: #f9f9f9;
	}

	.product-details-option {
		margin-bottom: 10px;
	}

	.title {
		font-weight: bold;
		color: #333;
	}

	.star-select {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		border: none;
		background: none;
		font-size: 20px;
		color: gold;
		cursor: pointer;
	}

</style>

<div class="container-fluid">
	<div class="row px-xl-5">
		<div class="col-12">
			<div class="breadcrumb bg-light mb-30">

				<a class="breadcrumb-item text-dark" asp-action="Index" asp-controller="Home">Home</a>
				<a class="breadcrumb-item text-dark" asp-action="Index" asp-controller="Shop">Shop</a>
				<span class="breadcrumb-item active">Shop Detail</span>
			</div>

		</div>
	</div>
</div>

<div class="container-fluid pb-5">
	<div class="row px-xl-5">
		<div class="col-lg-5 mb-30">
			<div id="product-carousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner bg-light">
					@for (int i = 0; i < Model.Product.ProductImages.Count; i++)
					{
						<div class="carousel-item @(i == 0 ? "active" : "")   ">
							<span><img style="height:750px;width:750px;" src="~/img/product/@Model.Product.ProductImages[i].Url" alt="Image"></span>
						</div>
					}
				</div>
				<a class="carousel-control-prev" href="#product-carousel" role="button" data-slide="prev">
					<i class="fa fa-2x fa-angle-left text-dark"></i>
				</a>
				<a class="carousel-control-next" href="#product-carousel" role="button" data-slide="next">
					<i class="fa fa-2x fa-angle-right text-dark"></i>
				</a>
			</div>

		</div>


		<div class="col-lg-6 pt-5 pt-lg-0">
			<div class="single-product-content">

				<div>
					<h4 style="color: #333; font-size: 25px; margin-bottom: 10px;">@Model.Product.Name</h4>
					<h3 class="font-weight-semi-bold mb-4" style="color: black;">$@Model.Product.Price</h3>

				</div>

				<div class="selector-wrap size-option">
					<span class="selector-title border-bottom-0">Sizes</span>
					<select class="nice-select wide rounded-0">

						@foreach (ProductSize pSize in Model.Product.ProductSizes)
						{

							<option value="@pSize.Size.Name">@pSize.Size.Name</option>

						}
					</select>
				</div>


				<div class="selector-wrap color-option">
					<span class="selector-title border-bottom-0">Colors</span>
					<select class="nice-select wide border-bottom-0 rounded-0">
						@foreach (ProductColor pColor in Model.Product.ProductColors)
						{
							<option value="@pColor.Color.Name">@pColor.Color.Name</option>
						}
					</select>
				</div>

				<br />


				<div class="product__details__cart__option">
					<a asp-action="AddWishlist" asp-controller="Home" asp-route-id="@Model.Product.Id" class="primary-btn"> <i class="fa fa-heart"></i> add to wishlist</a>
					<a asp-controller="Basket" asp-action="AddBasket" asp-route-id="@Model.Product.Id" class="primary-btn"> <i class="fa fa-shopping-cart"></i>add to cart</a>
				</div>

				<div class="product-details-container">

					<div class="product-details-option">
						<span class="title">SKU:</span>
						<a>@Model.Product.SKU</a>
					</div>

					<div class="product-details-option">
						<span class="title">Category:</span>
						<a>@Model.Product.Category.Name</a>
					</div>

					<div class="product-details-option">
						<div class="tags">
							<span class="title">Tag :</span>
							@foreach (ProductTag pTag in Model.Product.ProductTags)
							{
								<a>@pTag.Tag.Name@(pTag != Model.Product.ProductTags[Model.Product.ProductTags.Count - 1] ? "," : "")</a>
							}
						</div>
					</div>

					<div class="d-flex mb-3">
						<div class="rating-form">



							<span class="title">Comment :</span>
							<form asp-action="AddComment" asp-controller="Home" method="post" onsubmit="return validateForm()">
								<input type="hidden" name="productId" value="@Model.Product.Id" />
								<textarea name="content" rows="4"></textarea><br />
								<button class="btn btn-outline-primary" type="submit">Submit</button>

								<input type="hidden" asp-for="Comments" />

								<span class="text-danger" asp-validation-for="Comments"></span>


							</form>



							<form asp-action="AddRating" asp-controller="Home" method="post">
								<input type="hidden" name="productId" value="@Model.Product.Id" />
								<select name="stars" onchange="this.form.submit()" class="star-select" style="padding: 5px; border-radius: 5px; border: 1px solid #ccc;">
									<option disabled selected>Rating</option>
									<option value="1">&#9733;</option>
									<option value="2">&#9733;&#9733;</option>
									<option value="3">&#9733;&#9733;&#9733;</option>
									<option value="4">&#9733;&#9733;&#9733;&#9733;</option>
									<option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
								</select>
							</form>


						</div>


					</div>
					@{
						int? numberOfStars = Model.Product.AverageRating != null ? (int)Model.Product.AverageRating : 0;
					}

					@if (numberOfStars > 0)
					{
						<span class="title">AverageRating: </span>

						@for (int i = 0; i < numberOfStars; i++)
						{
							<span class="star-select">&#9733;</span>
						}
					}
					else
					{
						<p class="text-black">No ratings yet.</p>
					}

				</div>
			</div>
		</div>

	</div>
	<div class="row px-xl-5">
		<div class="col-lg-12">
			<div class="product__details__tab">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#tabs-5"
						   role="tab">Description</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab">
							Customer
							Previews(5)
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#tabs-7" role="tab">
							Additional
							information
						</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tabs-5" role="tabpanel">
						<div class="product__details__tab__content">

							<div class="product__details__tab__content__item">
								<h5>Description </h5>
								<p>
									@Model.Product.Description
								</p>

							</div>
							<div class="product__details__tab__content__item">
								<h5>Products Infomation</h5>
								<p>
									A Pocket PC is a handheld computer, which features many of the same
									capabilities as a modern PC. These handy little devices allow
									individuals to retrieve and store e-mail messages, create a contact
									file, coordinate appointments, surf the internet, exchange text messages
									and more. Every product that is labeled as a Pocket PC must be
									accompanied with specific software to operate the unit and must feature
									a touchscreen and touchpad.
								</p>
								<p>
									As is the case with any new technology product, the cost of a Pocket PC
									was substantial during it’s early release. For approximately $700.00,
									consumers could purchase one of top-of-the-line Pocket PCs in 2003.
									These days, customers are finding that prices have become much more
									reasonable now that the newness is wearing off. For approximately
									$350.00, a new Pocket PC can now be purchased.
								</p>
							</div>
							<div class="product__details__tab__content__item">
								<h5>Material used</h5>
								<p>
									Polyester is deemed lower quality due to its none natural quality’s. Made
									from synthetic materials, not natural like wool. Polyester suits become
									creased easily and are known for not being breathable. Polyester suits
									tend to have a shine to them compared to wool and cotton suits, this can
									make the suit look cheap. The texture of velvet is luxurious and
									breathable. Velvet is a great choice for dinner party jacket and can be
									worn all year round.
								</p>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tabs-6" role="tabpanel">
						<div class="product__details__tab__content">
							<div class="product__details__tab__content__item">
								<h5>Products Infomation</h5>
								<p>
									A Pocket PC is a handheld computer, which features many of the same
									capabilities as a modern PC. These handy little devices allow
									individuals to retrieve and store e-mail messages, create a contact
									file, coordinate appointments, surf the internet, exchange text messages
									and more. Every product that is labeled as a Pocket PC must be
									accompanied with specific software to operate the unit and must feature
									a touchscreen and touchpad.
								</p>
								<p>
									As is the case with any new technology product, the cost of a Pocket PC
									was substantial during it’s early release. For approximately $700.00,
									consumers could purchase one of top-of-the-line Pocket PCs in 2003.
									These days, customers are finding that prices have become much more
									reasonable now that the newness is wearing off. For approximately
									$350.00, a new Pocket PC can now be purchased.
								</p>
							</div>
							<div class="product__details__tab__content__item">
								<h5>Material used</h5>
								<p>
									Polyester is deemed lower quality due to its none natural quality’s. Made
									from synthetic materials, not natural like wool. Polyester suits become
									creased easily and are known for not being breathable. Polyester suits
									tend to have a shine to them compared to wool and cotton suits, this can
									make the suit look cheap. The texture of velvet is luxurious and
									breathable. Velvet is a great choice for dinner party jacket and can be
									worn all year round.
								</p>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tabs-7" role="tabpanel">
						<div class="product__details__tab__content">
							<p class="note">
								Nam tempus turpis at metus scelerisque placerat nulla deumantos
								solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis
								ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo
								pharetras loremos.
							</p>
							<div class="product__details__tab__content__item">
								<h5>Products Infomation</h5>
								<p>
									A Pocket PC is a handheld computer, which features many of the same
									capabilities as a modern PC. These handy little devices allow
									individuals to retrieve and store e-mail messages, create a contact
									file, coordinate appointments, surf the internet, exchange text messages
									and more. Every product that is labeled as a Pocket PC must be
									accompanied with specific software to operate the unit and must feature
									a touchscreen and touchpad.
								</p>
								<p>
									As is the case with any new technology product, the cost of a Pocket PC
									was substantial during it’s early release. For approximately $700.00,
									consumers could purchase one of top-of-the-line Pocket PCs in 2003.
									These days, customers are finding that prices have become much more
									reasonable now that the newness is wearing off. For approximately
									$350.00, a new Pocket PC can now be purchased.
								</p>
							</div>
							<div class="product__details__tab__content__item">
								<h5>Material used</h5>
								<p>
									Polyester is deemed lower quality due to its none natural quality’s. Made
									from synthetic materials, not natural like wool. Polyester suits become
									creased easily and are known for not being breathable. Polyester suits
									tend to have a shine to them compared to wool and cotton suits, this can
									make the suit look cheap. The texture of velvet is luxurious and
									breathable. Velvet is a great choice for dinner party jacket and can be
									worn all year round.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Shop Details Section End -->
<!-- Related Section Begin -->

<div class="related spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="related-title">Related Product</h3>
			</div>
		</div>
		<div class="row">

			@foreach (Product product in Model.RelatedProducts)
			{
				<div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
					<div class="product__item">
						<div class="product__item__pic set-bg">
							<span><img style="height:275px;width:375px;" src="~/img/product/@product.ProductImages.FirstOrDefault(pi=>pi.IsPrimary==true).Url " /></span>
							<ul class="product__hover">
								<li> <a class="btn btn-outline-warning" asp-controller="Basket" asp-action="AddBasket" asp-route-id="@product.Id"><i class="fa fa-shopping-cart"></i></a></li>

								<li><a class="btn btn-outline-warning" asp-action="AddWishlist" asp-controller="Home" asp-route-id="@product.Id"> <i class="fa fa-heart"></i></a></li>

							</ul>
						</div><br>
						<div>
							<a class="btn btn-outline-warning" asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id">@product.Name</a><br>

							<h5>$@product.Price</h5>
							<h6 class="text-muted ml-2">
								<del>@(product.OldPrice != null ? $"${product.OldPrice}" : "")</del>
							</h6>
							<div class="rating">
								<i class="fa text-warning fa-star mr-1"></i>
								<i class="fa text-warning fa-star mr-1"></i>
								<i class="fa text-warning fa-star mr-1"></i>
								<i class="fa text-warning fa-star mr-1"></i>
								<i class="fa text-warning fa-star mr-1"></i>
							</div>
						</div>
					</div>
				</div>
			}

		</div>
	</div>
</div>
<!-- Related Section End -->
<script>
	function validateForm() {
		var content = document.getElementsByName('content')[0].value;
		if (content.trim() === '') {
			alert(' Yorumunuzu daxil edin.');
			return false;
		}
		return true;
	}
</script>