@model List<Product>



<div class="row product__filter">


    @foreach (Product product in Model)
    {
        <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix @product.Filter  ">
            <div class="product__item">
                <div class="product__item__pic set-bg">
                    <span><img style="height:275px;width:375px;" src="~/img/product/@product.ProductImages.FirstOrDefault(pi=>pi.IsPrimary==true).Url " /></span>

                    <ul class="product__hover">
                        <li> <a class="btn btn-outline-warning" asp-controller="Basket" asp-action="AddBasket" asp-route-id="@product.Id"><i class="fa fa-shopping-cart"></i></a></li>

                        <li><a class="btn btn-outline-warning" asp-action="AddWishlist" asp-controller="Home" asp-route-id="@product.Id"> <i class="fa fa-heart"></i></a></li>
                    </ul>
                </div>
                <br>
                <div>
                    <a class="btn btn-outline-warning"  asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id">@product.Name</a><br>
                 
                    <h5>$@product.Price</h5>

                   @*  @{
                        int? numberOfStars = Model.Product.AverageRating != null ? (int)Model.Product.AverageRating : 0;
                    }

                    @if (numberOfStars > 0)
                    {
                        <span class="title">AverageRating: </span>

                        @for (int i = 0; i < numberOfStars; i++)
                        {
                            <span class="star-select">&#9733;</span>
                        }
                    }
                    else
                    {
                        <p class="text-danger">No ratings yet.</p>
                    } *@
                   
                </div>
            </div>
        </div>

    }

</div>
