@model List<BasketItemVM>
@{
	decimal total = 0;
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shopping Cart</h4>
                    <div class="breadcrumb__links">
                        <a asp-action="Index" asp-controller="Home">Home</a>
                        <a asp-action="Index" asp-controller="Shop">Shop</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table >
                        <thead>
                            <tr>
                                <th >Remove</th>
                                <th >Images</th>
                                <th >Product</th>
                                <th >Unit Price</th>
                                <th >Quantity</th>
                                <th >Total</th>
                            </tr>
                        </thead>
                      
                        <tbody>
                            @foreach (BasketItemVM item in Model)
                            {
                                total += item.SubTotal;
                                <tr>
                                    <td class="product_remove">
                                        <a class="btn btn-outline-danger" asp-action="RemoveBasket" asp-controller="Basket" asp-route-id="@item.Id">
                                            <i class="fa fa-times"></i>

                                        </a>
                                    </td>
                                    <td class="product-thumbnail">
                                        <a >
                                            <img style="width:150px; height:150px;" src="~/img/product/@item.Image"
                                                 alt="@item.Name" />
                                        </a>
                                    </td>
                                    <td >
                                        <a class="text-dark" asp-action="Detail" asp-controller="Home" asp-route-id="@item.Id">@item.Name</a>
                                    </td>
                                    <td class="product-price">
                                        <span class="amount">$@item.Price</span>
                                    </td>
                                    <td class="quantity">
                                        <div class="d-flex">
                                            <div style="margin-right:10px;">
                                                <a class="text-danger" asp-action="Decrement" asp-controller="Basket" asp-route-id="@item.Id">
                                                    <i class="fa fa-minus"></i>
                                                </a>

                                            </div>
                                            <div>
                                                <input style="width:30px;" value="@item.Count"
                                                       type="text" />
                                            </div>
                                            <div style="margin-left:10px;">
                                                <a class="text-success" asp-controller="Basket" asp-action="AddBasket" asp-route-id="@item.Id" asp-route-controllerName="Basket">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </div>

                                        </div>
                                    </td>
                                    <td class="product-subtotal">
                                        <span class="amount">$@item.SubTotal</span>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <a asp-action="Index" asp-controller="Shop">
                                <i class="fa fa-forward"></i>
                                Continue Shopping
                            </a>
                        </div>
                    </div>
               
                </div>
            </div>
            <div class="col-lg-4">
               
                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Total <span>$@total</span></li>
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-dark" asp-controller="Basket" asp-action="Checkout">Proceed to checkout</a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->
